*{
    margin: 0;
    padding: 0;
}
.container{
    margin-bottom: 50px;
}
.nav-link{
    color: gray;
}
button{
    text-decoration: none;
    color: white;
}
.btn{
    color: white;
    background-color: black;
    padding: 5px 7px;
    border-radius: 5px;
    width: 100px;
    margin: auto;
}
.btn:hover{
    color: blue;
}
.slider-text{
    color:blueviolet;
    margin-top: 2px;
}
.back-img{
    background-image: url(images/bg-1.png);
    background-repeat: no-repeat;
    background-position:center;
    background-color: white;
}
.slider-section{
    background-image: url(images/bg-2.png);
    background-repeat: no-repeat;
    background-position: left bottom;
}
.card-footer{
    background-color: white;
    border-top: none;
}
.phones h5,.phones h3{
    text-align: center;
}